@import "tailwindcss";


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}
* {
  margin: 0;
  padding: 0;

  text-decoration: none !important;
  list-style-type: none;
  box-sizing: border-box;
}
ul,
h6,
h5,
h4,
h3,
h2,
h1,
p {
  padding: 0;
  margin: 0;
}
html {

    scroll-behavior: smooth;

}

a {
    text-decoration: none;

}

li {
    list-style: none;

}

ul {
    padding-left: 0;
}
/* Header CSS Start */
.navButton {
    text-decoration: none;
    color: gray;
    border-bottom: 2px solid transparent;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    transition: all ease-in-out 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navButton1 {
    text-decoration: none;
    margin: 13px;
    text-align: center;

}

.navButton:hover {

    color: #000000;
}

/* Heading CSS Start */
.heading {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    color: gray;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    position: relative;
    background-color: transparent;
    border: none;
}

.heading::before,
.heading::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 45px;
    height: 2px;
    background-color: gray;
}

.heading::before {
    left: -35px;
}

.heading::after {
    right: -35px;
}

/* Heading CSS End */
